<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Aluno</th>
            <th>Música</th>
            <th>Nota</th>
            <th>Nível Atingido</th>
            <th>Data Avaliação</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>

        <% for(let index = 0; index < avaliacoes.length; index++) { %>

            <tr>

                <td><%= index + 1 %></td>

                <td>
                    <%= avaliacoes[index].aluno ?
                    avaliacoes[index].aluno.nome :
                    '-' %>
                </td>

                <td>
                    <%= avaliacoes[index].nomeMusica %>
                </td>

                <td>
                    <%= avaliacoes[index].nota %>
                </td>

                <td>

                    <% if(avaliacoes[index].nivelAtingido) { %>

                        <span class="badge badge-success">
                            Sim
                        </span>

                    <% } else { %>

                        <span class="badge badge-danger">
                            Não
                        </span>

                    <% } %>

                </td>

                <td>
                    <%= dateFormat(
                        avaliacoes[index].dataAvaliacao
                    ) %>
                </td>

                <td>

                    <a
                        href="/avaliacoes/<%= avaliacoes[index].id %>/editar"
                        class="text-warning mr-2">

                        <i class="fa fa-pencil fa-lg"></i>

                    </a>

                    <a
                        href="/avaliacoes/<%= avaliacoes[index].id %>/excluir"
                        class="text-danger">

                        <i class="fa fa-trash fa-lg"></i>

                    </a>

                </td>

            </tr>

        <% } %>

    </tbody>

</table>